/* components/NewsGridSection.module.css */
.section {
    padding: 2rem 13%;
    color: white !important;
  }
  
  .heading {
    color: #b30038;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
  }
  